/* Stile base per il corpo della pagina */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafb; /* Sfondo grigio chiaro per tutta la pagina */
}

/* Contenitore principale dell'applicazione React */
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centra sempre il contenuto */
}

/* Usato per le schermate di caricamento o errore */
.loading-container {
    text-align: center;
}

/* Stile generico per il logo */
.logo {
  max-width: 150px;
  height: auto;
  margin-bottom: 1rem; /* Ridotto un po' lo spazio sotto */
}