name: Deploy Firebase Functions

on:
  push:
    branches:
      - main
    paths:
      - 'functions/**'
      - '.github/workflows/deploy-function.yml'

jobs:
  deploy_functions:
    runs-on: ubuntu-latest
    
    env:
      # PROJECT_ID MUST be used in lowercase in Firebase/GCP
      GCP_PROJECT: marcatempotcsitalia 
      
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: '20' 
          cache: 'npm'
          cache-dependency-path: 'functions/package-lock.json'

      - name: Install Dependencies
        run: npm install
        working-directory: ./functions

      - name: Install Firebase CLI
        run: npm install -g firebase-tools
        
      - name: Deploy Firebase Functions via CLI
        # NOTE: Using single quotes for the expression to ensure it's interpreted correctly by the shell (as discussed).
        run: firebase deploy --only functions --token '${{ secrets.FIREBASE_SERVICE_ACCOUNT_MARCATEMPO_TCS }}' --project ${{ env.GCP_PROJECT }}