name: Deploy Firebase Functions

on:
  push:
    branches:
      - main # Il branch che innesca il deployment
    paths:
      - 'functions/**' # Innesca solo se ci sono modifiche in functions/
      - '.github/workflows/deploy-function.yml' # O se il workflow stesso viene modificato

jobs:
  deploy_functions:
    runs-on: ubuntu-latest
    
    # Variabili d'ambiente per il job
    env:
      GCP_PROJECT: marcatempotcsitalia # ID del tuo progetto Firebase
      FIREBASE_SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_MARCATEMPOTCSITALIA }} # Nome del Service Account Secret

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: '20' 
          cache: 'npm'
          cache-dependency-path: 'functions/package-lock.json'

      - name: Install dependencies
        run: npm install
        working-directory: ./functions

      - name: Deploy Firebase Functions
        uses: w9jds/firebase-action@v2
        with:
          args: deploy --only functions --project ${{ env.GCP_PROJECT }}
          token: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_MARCATEMPOTCSITALIA }} # Usa il Service Account come token
          # Il w9jds/firebase-action esegue i comandi dalla root del progetto
        
      - name: Verify Deployment (Optional)
        run: echo "Deployment of functions finished for ${{ env.GCP_PROJECT }}"